@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-8">Expense List</h1>
    <table class="table">
        <tr>
            <td>Expense ID</td>
            <td>Description</td>
            <td>Amount</td>
            <td>Category</td>
            <td>Date Added</td>
        </tr>
        @if (Model.list!=null)
        {
            foreach (var exp in Model.list)
            {
                <tr>
                    <td>
                        <a href="/EditExpense?id=@exp.ID">Edit&nbsp;@exp.ID</a><br />
                        <a asp-page-handler="Delete" asp-page="EditExpense" asp-all-route-data="@(new Dictionary<string, string> { { "id", exp.ID.ToString() },{ "del", "true" } })">Remove</a>
                    </td>
                    <td>@exp.Description</td>
                    <td>@exp.Amount</td>
                    <td>@exp.Category</td>
                    <td>@exp.DateAdded</td>

                </tr>
            }
        }
    </table>
</div>
